* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Helvetica,  Arial, sans-serif;
}
.main-lab4 {
    margin-top: 100px;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

  
.tab button:hover {
    background-color: #ddd;
  }
  
  
.tab button.active {
    background-color: #ccc;
  }
  
div#Requirement {
    display: block;
    padding: 20px;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tabcontent .req {
    line-height: 1.6;
    opacity: 0.7;
}
#Implement {
    /* text-align: center; */
    line-height: 3.0;
}
div#User-scenario {
    text-align: center;
}
.images {
    display: flex;
    margin: 0 auto;
}
#Design .figma-btn {
    margin-left: 10px;
}
.images {
    padding: 20px ;
    justify-content: space-around;
}
.view-design {
    text-align: center;
}

#Design .btn-download {
    display: flex;
    cursor: pointer;
}
.btn-dl {
    text-decoration: none;
}
#Design .btn-download,
#Design .figma-btn {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
}
#Design .btn-download:hover,
#Design .figma-btn:hover {
    background-color: #ccc;
    color: #000;
}
#Design .help-block {
    height: 20px;
}
#nameInput,
#idInput,
.btn-add{
    padding: 7px 5px;
}
.btn-add{
    border-radius: 10px;
    
}
.btn-add:hover {
    cursor: pointer;
    background-color: #ccc;
}
form {
    line-height: 1;
}
.booking-form {
    max-width: 400px;
    margin: 0 auto;
    border: #000 1px solid;
    padding: 20px 40px;
    background-color: #ccc;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-oder {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-oder:hover {
    background-color: #45a049;
}

.pay {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
    /* mobile */
@media (max-width: 46.1875em) {
    img {
        width: 100%;
    }
}
