* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* scroll-behavior: smooth; */
    /* hành vi cuộn */
    font-family: Helvetica, Arial, sans-serif;
}

/* heading */
.main-heading {
    margin-top: 65px;
    padding: 40px 0 55px;
    background-color: #ccc;
    overflow: hidden;
}

.text-white {
    color: #fff;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.col-half {
    width: 50%;
}

#headingL,
#heading {
    background-color: #000;
    z-index: 1;
    height: 64.8px;
    overflow: hidden;
}

#headingL .containerL,
#heading .container {
    margin: 0 5%;
}

#headingL .logoL,
#heading .logo {
    display: flex;

}

#headingL .nav-linkL,
#heading .nav-link {
    list-style: none;
}

#headingL .logoL>a,
#heading .logo>a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    padding: 22px 0
}

.navL>ul>li,
.nav>ul>li {
    white-space: nowrap;
    padding: 5px 0 5px 30px;
}

#headingL .nav-linkL a,
#heading .nav-link a {
    font-size: 13px;
    padding: 20px 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0.9;
}

#headingL .nav-linkL a::before,
#heading .nav-link a::before {
    content: "";
    border-bottom: 2px #fff solid;
}

#headingL .nav-linkL a:hover,
#heading .nav-link a:hover {
    opacity: 1;
}

.menu-mobile-btnL,
.menu-mobile-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.menu-mobile-btnL,
.menu-mobile-btn {
    float: right;
    padding: 21px 26px;
}

.menu-iconL,
.menu-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

.menu-mobile-btnL:hover,
.menu-mobile-btn:hover {
    cursor: pointer;
}

#container-home {
    background-color: #ccc;
    position: relative;
    top: 65.8px;
    padding: 80px 100px;
    position: relative;
    background: url(./images/slider-1-slide-2-1770x742.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

/* #container-home:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    background: rgba(94, 99, 113, 0.65);
    width: 100%;
    height: 100%;
} */
/* .img-home .img {
    height: 400px;
    border-radius: 50%;
} */
.infor-home {
    padding: 95px 15px;
    color: #000;
    text-shadow: 1px 1px 3px #fff;
    margin-left: 48px;
}

.infor-home>h2,
.infor-home>h3,
.infor-home>h1 {
    padding: 10px;
}

.infor-home>h1 {
    font-size: 100px;
    -webkit-text-stroke: 2px #000;
    color: #fff;
}

.infor-home>h3 {
    font-size: 30px;
}

.infor-home>h2 {
    font-size: 50px;
}

.footer {
    margin-top: 66px;
    padding: 30px;
    text-align: center;
    background-color: #000;
    color: #fff;
    line-height: 1.5;
}

.footer>a {
    opacity: 1;
    text-decoration: none;
    color: #fff;
}

.footer>a:hover {
    opacity: 0.8;
}